services:
  backend:
    build:
      context: ./backend/ocr_project
      dockerfile: Dockerfile
    container_name: ocr_backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
      - media:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ocr_frontend
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true

volumes:
  media:
